<h1>First Restaurant:</h1>
<p>Name: <%= @restaurant.name %> </p>
<p>Neighborhood: <%= @restaurant.neighborhood %></p>
<p>Genre: <%= @restaurant.genre %></p>
<p>Price: <%= @restaurant.price %></p>
<p>Top Dish: <%= @restaurant.top_dish %></p>